<div class="card" >
    <div class="toolbar bgc-green-700 tc-white-1">

        <!--Toolbar title-->
        <span class="toolbar__label fs-title">Bienvenue sur Revisator</span>

    </div>
</div>





<div class="p+">
    <div class="card">
        <div class="p+">


            <div class="paragraph fs-body-1 mt+">
                <p>

                    Pour commencer, notre projet consiste à assister les étudiants dans leurs révisions. En effet, en tant

                    qu’étudiant nous avons souvent l’impression, surtout quand les examens approchent, de ne pas être

                    assez productif.

                    Pour pallier à ce besoin, et ainsi pouvoir jauger nos révisions, leur donner une valeur quantitative...

                    Nous avons eu l’idée de créer une application multi support (web et mobile), afin qu’elle soit disponible

                    de manière permanente, et par toutes les personnes qui souhaiteraient utiliser notre service.

                    De plus, il y a souvent un réel problème de motivation de la part des étudiants, certains ont du mal à

                    se motiver, et souvent ils attendent la dernière minute... Nous essayons de trouver une solution à ce

                    problème, grâce à la mise en place d’un système de défi. Cette fonctionnalité permettra à l’utilisateur

                    de jouer contre d’autres personnes (amis, étudiants, ...). Le but étant de créer un cercle vertueux

                    entraînant ainsi les étudiants à réviser pour obtenir le meilleur classement.

                </p>
            </div>
        </div>



        <div class="card__actions">
		

                <button ng-click="redirectProf()" class="btn btn--m btn--black btn--flat" lx-ripple>Je suis un professeur</button>
	
            <a ng-href="#login">

                <button href="#login" class="btn btn--m btn--orange btn--flat" lx-ripple>Je suis un étudiant</button>

            </a>

        </div>
    </div>
</div>






