<div class="card" >
    <div class="toolbar bgc-green-700 tc-white-1">

        <a href="#tableauDeBord">
            <button class="btn btn--l btn--white btn--icon" >
                <i class="mdi mdi-arrow-left"></i>
            </button>
        </a>

        <!--Toolbar title-->
        <span class="toolbar__label fs-title">C'est l'heure du duel!</span>


    </div>
</div>
<div class="p+" flex-container="column" flex-align="space-between center">

     <div flex-item flex-item-order="1">
     {{Instruction1MP}}
       <div class="p+">

            <ul class="list">

                <li class="card m+ p+" flex-container="column" flex-align="space-between center"
                    ng-repeat="matiere in matieres">

                    <a ng-href="#duel/listeQuizz/{{matiere.idMatiere}}">
                        <lx-button lx-color="orange" lx-type="flat" ng-click="loadQuizz(matiere.idMatiere)">{{matiere.nom}}</lx-button>
                    </a>

                </li>

            </ul>

        </div>
    </div>

</div>