<div class="card" >
    <div class="toolbar bgc-green-700 tc-white-1">

        <a href="#listeMatiere">
            <button class="btn btn--l btn--white btn--icon" >
                <i class="mdi mdi-arrow-left"></i>
            </button>
        </a>

        <!--Toolbar title-->
        <span class="toolbar__label fs-title">Choisir son quizz</span>

    </div>
</div>



<!--
<div class="p+" flex-container="row" flex-gutter="24" flex-wrap>
    <div flex-item="6">

        <ul class="list">

            <li class="list-row" ng-repeat="quizz in listeQuizz.quizz">
                <a ng-href="#quizz/{{quizz.id}}">
                    <lx-button  lx-color="orange" lx-type="flat">{{quizz.intitule}}</lx-button>
                </a>
            </li>

        </ul>
    </div>
</div>


  <ul class="list">

            <li class="card m+ p+" flex-container="column" flex-align="space-between center" ng-repeat="matiere in matieres.matieres">
                <div flex-item>
                    <a ng-href="#listeQuizz/{{matiere.id}}">
                        <lx-button lx-color="orange" lx-type="flat">{{matiere.intitule}}</lx-button>
                    </a>
                </div>
            </li>

        </ul>
-->


<div class="p+" flex-container="column" flex-align="space-between center">

    <div flex-item flex-item-order="1">
        <div class="p+">


            <ul class="list">
                <li class="card m+ p+" flex-container="column" flex-align="space-between center"
                    ng-repeat="quizz in listeQuizz">

                    <a ng-href="#quizz/{{quizz.idQuizz}}">
                        <lx-button lx-color="orange" lx-type="flat">{{quizz.nom}}</lx-button>
                    </a>
                    <div class="list-row__secondary">
                    <div flex-container="row">
                       <button class="btn btn--m btn--black btn--icon" ng-click="aVoter(quizz)" lx-ripple lx-tooltip="attributer une etoile pour ce quizz">
                            <i class="mdi mdi-plus"></i>
                        </button>
                        <div class="p+">
                        {{quizz.score}}
                         <lx-icon lx-id="star-outline" lx-size="s" lx-color="yellow" lx-type="flat"></lx-icon>
                         </div>
                        <button class="btn btn--m btn--black btn--icon" ng-click="deVoter(quizz)" lx-ripple lx-tooltip="retirer votre vote de ce quizz">
                            <i class="mdi mdi-minus"></i>
                        </button>
                    </div>

                </li>
            </ul>

        </div>
    </div>

</div>