<div class="card">
    <div class="toolbar bgc-green-700 tc-white-1">

        <!--Toolbar title-->
        <span class="toolbar__label fs-title">C'est partit !!!</span>

    </div>
</div>


<div class="p+">
    <div class="card">

        <div class="p+">
            <!--
                        <div class="paragraph fs-body-1 mt+">
                            <strong class="fs-headline display-block">{{question}}</strong>
                        </div>
              -->
<!--<span id="chronotime">0:00:00:00</span>
<form name="chronoForm">
    <input type="button" name="startstop" value="start!" ng-click="chronoStart()" />
    <input type="button" name="reset" value="reset!" ng-click="chronoReset()" />
</form>-->

<!--<h1>AngularJS - Single Timer Example</h1>
        <h3><timer/></h3>
        <button ng-click="startTimer()" ng-disabled="timerRunning">Start Timer</button>
        <button ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timer</button>


        </div>-->


        <div class="card__actions" ng-repeat="question in quizz.questions">
            <div class="paragraph fs-body-1 mt+">
                <strong class="fs-headline display-block">{{question.question}}</strong>
            </div>
            <div class="checkbox mt+" ng-repeat="reponse in question.reponse">
                <!--
                 <input type="checkbox" id="checkbox_{{$index}}" class="checkbox__input">
                 <label for="checkbox_{{$index}}" class="checkbox__label">{{reponse.reponse}}</label>
 -->
                <lx-checkbox ng-model="reponse.estChecker">{{reponse.reponse}}</lx-checkbox>

            </div>
        </div>


       <a ng-href="#/resultat/{{idQuizz}}">
            <button ng-click="enregistrerResultatLocalStorage()" class="btn btn--m btn--orange btn--raised m++" lx-ripple>Terminer</button>
        </a>


    </div>
</div>